@page "/login"

@using Microsoft.AspNetCore.Components.Web
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject ISO_ERP.Services.AuthService AuthService

<div class="login-page">

    <div class="login-card">

        <h1>ISO ERP</h1>
        <p class="login-subtitle">
            Ražošanas uzskaites sistēma
        </p>

        

            <input type="password"
                    class="form-control login-input"
                    placeholder="Parole"
                    @bind-value="Password"
                    @bind-value:event="oninput"
                    @onkeyup="HandleKeyDown" />

            <button class="btn btn-primary login-btn"
                    @onclick="LoginUser">
                Ienākt
            </button>

        

    </div>

</div>

@code {

    private async Task LoginUser()
    {
        var correctPassword =
            Configuration["Security:Password"];

        if (Password == correctPassword)
        {
            AuthService.IsLoggedIn = true;
            
            await JS.InvokeVoidAsync(
                "sessionStorage.setItem",
                "isLoggedIn",
                "true");

            Navigation.NavigateTo("/production");
        }
    }

    private string Password = "";

    private async Task HandleKeyDown(KeyboardEventArgs e)
{
    if (e.Key == "Enter")
    {
        await LoginUser();
    }
}

}